.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 4.5rem;
}

.nav__menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav__secLogo {
    flex: 25%;
}

.nav__secMenu {
    flex: 75%;
}

.nav__menu > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.header {
    width: 100%;
    background-color: #495e57;
    height: 17rem;
}

.header__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.header__text {
    flex: 50%;
    width: 10%;
    align-items: center;
}

.header__foodImage {
    width: 17rem;
    height: 18rem;
    position: absolute;
    top: 15%;
    right: 24.6%;
    border-radius: 16px;
}

.header__header {
    font-size: 3rem;
    color: #c3a510;
    margin: 0;
    margin-top: 1rem;
}

.header__subHeader {
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
}

.header__info {
    color: #ffffff;
    font-size: 16px;
    margin-right: 38rem;
}

.header__btn {
    background-color: #f4ce14;
    padding: 0.3rem 1.2rem 0.3rem;
    border-radius: 15px;
    border-color: #f4ce14;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.main__titleWrapper {
    display: flex;
    justify-content: space-between;
    width: 72%;
    margin-top: 5rem;
}

.main__btn {
    background-color: #f4ce14;
    padding: 0.5rem 1.2rem 0.5rem;
    border-radius: 15px;
    border-color: #f4ce14;
    font-size: 1.2rem;
}

.main__heading {
    font-size: 3rem;
}

.main__cardWrapper {
    display: flex;
    justify-content: space-between;
    width: 54%;
    margin-top: 3rem;
}

.main__card {
    flex: 1 1 1;
    width: 29%;
    background-color: #edefee;
    padding-bottom: 2rem;
    border-radius: 16px;
}

.main__img {
    width: 15rem;
    height: 11rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.main__foodPriceWrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.main__foodTitle {
    font-weight: 600;
}

.main__price {
    color: #ee9972;
}

.main__foodDesc {
    margin: 1rem 2rem;
}

.main__order {
    margin: 0 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.main__bruchettaDesc {
    margin: 1rem 2rem 1rem 2.5rem;
}

.main__bruchettaOrder {
    margin-left: 2.5rem;
}

.testimonials {
    margin-top: 3rem;
}

.testimonials__header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.testimonials__cardsSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3;
    width: 51%;
    gap: 1rem;
}

.testimonials__card {
    border: 1px solid #000000;
    padding: 1rem;
    background-color: #edefee;
}

.testimonials__wrapper {
    display: flex;
    gap: 1rem;
}

.testimonials__subheader {
    font-weight: 600;
}

.testimonials__name {
    font-weight: 600;
}

.about {
    margin-top: 3rem;
    background-color: #f4ce14;
    padding-top: 7%;
    padding-bottom: 3%;
}

.about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 51%;
}

.about__heading {
    font-size: 2rem;
}

.about__subheading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about__info {
    margin-right: 5rem;
}

.about__firstCardPic {
    width: 17rem;
    height: 18rem;
    border-radius: 16px;
}

.about__secondCardPic {
    width: 17rem;
    height: 18rem;
    border-radius: 16px;
    position: absolute;
    top: 233%;
    right: 22%;
}

.bookingPage,
.confirmation {
    text-align: center;
    color: white;
    overflow: hidden;
}

.bookingPage__img {
    width: 100vw;
    height: 20rem;
    object-fit: cover;
}

.bookingPage__titleDiv,
.confirmation__titleDiv {
    background-color: #495e57;
    padding: 0.5rem 3rem 0.5rem 3rem;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    border-radius: 0.5rem;
}

.confirmation__img {
    width: 100vw;
    height: 29.1rem;
    object-fit: cover;
}

.form {
    padding: 2rem 0 0.5rem 0;
    text-align: center;
}

.form > div {
    margin-bottom: 1.5rem;
}

.form__btn {
    background-color: #f4ce14;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-family: "Karla";
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}

.form__btn:hover {
    background-color: #495e57;
    color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #edefee;
    transition: 0.2s;
}

.footer {
    background-color: #495e57;
    color: white;
    padding: 2rem 0;
}

.footer__img {
    height: 8rem;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 62%;
}

.footer__doormatList,
.footer__contactList,
.footer__socialList {
    list-style: none;
}
